In [ ]:
#Comprobación de que las extracciones las cuenta bien

import pandas as pd # type: ignore
import matplotlib.pyplot as plt # type: ignore


# Ruta del archivo CSV
file_path = r"C:\Users\34645\Desktop\projects\Obj1_GT\data\panel_trends_ES.csv"

# Cargar los datos desde el CSV
df = pd.read_csv(file_path)

# Convertir columnas a datetime
df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")

# Contar cuántos timestamps distintos hay por cada combinación de keyword, country y timeframe
timestamp_counts = df.groupby(["keyword", "country", "timeframe"])["timestamp"].nunique().reset_index()
timestamp_counts.rename(columns={"timestamp": "unique_timestamps"}, inplace=True)

# Contar cuántos valores únicos de extraction_number existen por cada combinación
extraction_counts = df.groupby(["keyword", "country", "timeframe"])["extraction_number"].nunique().reset_index()
extraction_counts.rename(columns={"extraction_number": "unique_extractions"}, inplace=True)

# Unir ambas tablas
validation_df = pd.merge(timestamp_counts, extraction_counts, on=["keyword", "country", "timeframe"])

# Verificar si los números de extracción coinciden con los timestamps distintos
validation_df["match"] = validation_df["unique_timestamps"] == validation_df["unique_extractions"]

# Mostrar los casos donde no coinciden
mismatched_extractions = validation_df[validation_df["match"] == False]

# Mostrar resultados
print("Casos donde extraction_number NO coincide con los timestamps distintos:")
print(mismatched_extractions)

#

Casos donde extraction_number NO coincide con los timestamps distintos:
Empty DataFrame
Columns: [keyword, country, timeframe, unique_timestamps, unique_extractions, match]
Index: []

In [13]:
# Obtener el intervalo de fechas disponibles para cada keyword y timeframe
intervals = df.groupby(["keyword", "timeframe"]).agg(
    min_date=("date", "min"),
    max_date=("date", "max"),
    num_extractions=("extraction_number", "nunique")  # Cantidad de extracciones distintas
).reset_index()

# Mostrar resultados
intervals

,keyword,timeframe,min_date,max_date,num_extractions
0,bicicleta,2020-01-01 2020-01-31,2020-01-01 00:00:00,2020-01-31 00:00:00,4
1,bicicleta,2020-01-31 2020-03-01,2020-01-31 00:00:00,2020-03-01 00:00:00,3
2,bicicleta,2020-03-01 2020-03-31,2020-03-01 00:00:00,2020-03-31 00:00:00,2
3,bicicleta,2020-03-31 2020-04-30,2020-03-31 00:00:00,2020-04-30 00:00:00,2
4,bicicleta,2020-04-30 2020-05-30,2020-04-30 00:00:00,2020-05-30 00:00:00,2
...,...,...,...,...,...
135,taxi,2023-08-29 2023-09-28,2023-08-29 00:00:00,2023-09-28 00:00:00,1
136,taxi,2023-09-28 2023-10-28,2023-09-28 00:00:00,2023-10-28 00:00:00,1
137,taxi,2023-10-28 2023-11-27,2023-10-28 00:00:00,2023-11-27 00:00:00,1
138,taxi,2023-11-27 2023-12-27,2023-11-27 00:00:00,2023-12-27 00:00:00,1
139,taxi,2023-12-27 2023-12-31,2023-12-27 00:00:00,2023-12-31 00:00:00,1

In [15]:
print(df_extraccion_1["keyword"].unique())

['coche' 'taxi' 'bus' 'bicicleta' 'metro']

In [16]:
print(df.groupby("keyword")["extraction_number"].unique())

keyword
bicicleta       [1, 2, 3, 4]
bus                   [1, 2]
coche        [1, 2, 3, 4, 5]
metro              [1, 2, 3]
taxi            [1, 2, 3, 4]
Name: extraction_number, dtype: object